# Docker
# Build and push an image to Azure Container Registry
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  - main

resources:
  repositories:
    - repository: infrasRepo
      type: github
      endpoint: github-vtoan-2
      name: vtoan/sd4418_azure_infrastructure

pool: Test Pool 1

variables:
    frontendImageName: 'msa-frontend'
    frontendPath: '$(Build.SourcesDirectory)/src/frontend'

    backendImageName: 'msa-backend'
    backendPath: '$(Build.SourcesDirectory)/src/backend'

    containerRegistryUri: 'examplearcgoose.azurecr.io'
    imagePullSecret: 'examplearcgoose-auth'

    # Endpoints/Connections
    dockerRegistryServiceConnection: 'testing-acr'
    kubernetesServiceConnection: 'testing-aks'

stages:
  # - stage: Build
  #   displayName: Build and push stage
  #   jobs:
  #     - job: BuildFE
  #       displayName: Build Frontend
  #       steps:
  #         - checkout: self
  #         - task: Docker@2
  #           displayName: Build and push an image to container registry
  #           inputs:
  #             command: buildAndPush
  #             repository: $(frontendImageName)
  #             dockerfile: $(frontendPath)/Dockerfile
  #             containerRegistry: $(dockerRegistryServiceConnection)
  #             tags: |
  #               $(tag)
  #               latest

  #     - job: BuildBE
  #       displayName: Build Backend
  #       steps:
  #         - checkout: self
  #         - task: Docker@2
  #           displayName: Build and push an image to container registry
  #           inputs:
  #             command: buildAndPush
  #             repository: $(backendImageName)
  #             dockerfile: $(backendPath)/Dockerfile
  #             containerRegistry: $(dockerRegistryServiceConnection)
  #             tags: |
  #               $(tag)
  #               latest

  - stage: Deploy
    displayName: Deploy stage
    # dependsOn: Build

    jobs:
      - deployment: Deploy
        displayName: Deploy
        environment: Test
        strategy:
          runOnce:
            deploy:
              steps:
                - checkout: infrasRepo
                - task: Bash@3
                  inputs:
                    targetType: 'inline'
                    script: |
                      git config --global user.email "you@example.com"
                      git config --global user.name "Your Name"
                      sed -i 's/msa-frontend:.*/msa-frontend:${tag}/g' frontend.yaml
                      sed -i 's/msa-backend:.*/msa-backend:${tag}/g' backend.yaml
                      git add . 
                      git commit -m "Update to version ${tag}"
                      git push https://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@github.com/vtoan/sd4418_azure_infrastructure.git HEAD:main
                    workingDirectory: '$(Build.SourcesDirectory)/manifests/'

                # - task: KubernetesManifest@0
                #   displayName: Create imagePullSecret
                #   inputs:
                #     action: createSecret
                #     secretName: $(imagePullSecret)
                #     dockerRegistryEndpoint: $(dockerRegistryServiceConnection)
                #     kubernetesServiceConnection: $(kubernetesServiceConnection)

                # - task: KubernetesManifest@0
                #   displayName: Deploy to Kubernetes cluster
                #   inputs:
                #     action: deploy
                #     manifests: |
                #       $(Build.SourcesDirectory)/manifests/frontend.yaml
                #       $(Build.SourcesDirectory)/manifests/backend.yaml
                #       $(Build.SourcesDirectory)/manifests/mongodb.yaml
                #       $(Build.SourcesDirectory)/manifests/ingress.yml
                #     imagePullSecrets: |
                #       $(imagePullSecret)
                #     containers: |
                #       $(containerRegistryUri)/$(frontendImageName):$(tag)
                #       $(containerRegistryUri)/$(backendImageName):$(tag)
                #     kubernetesServiceConnection: $(kubernetesServiceConnection)
