# Docker
# Build and push an image to Azure Container Registry
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  - main

resources:
  repositories:
    - repository: infrasRepo
      type: github
      endpoint: github-vtoan
      name: vtoan/sd4418_azure_infrastructure

pool: Test Pool 1

variables:
  tag: "$(Build.BuildId)"

  frontendImageName: "msa-frontend"
  frontendPath: "$(Build.SourcesDirectory)/src/frontend"

  backendImageName: "msa-backend"
  backendPath: "$(Build.SourcesDirectory)/src/backend"

  containerRegistryUri: "examplearchippo.azurecr.io"
  imagePullSecret: "examplearchippo-auth"

  # Endpoints/Connections
  dockerRegistryServiceConnection: "testing-acr"

stages:
  - stage: Build
    displayName: Build and push stage
    jobs:
      - job: Build-FE
        displayName: Build Frontend
        steps:
          - checkout: self
          - task: Docker@2
            displayName: Build and push an image to container registry
            inputs:
              command: buildAndPush
              repository: $(frontendImageName)
              dockerfile: $(frontendPath)/Dockerfile
              containerRegistry: $(dockerRegistryServiceConnection)
              tags: |
                $(tag)

      - job: Build-BE
        displayName: Build Backend
        steps:
          - checkout: self
          - task: Docker@2
            displayName: Build and push an image to container registry
            inputs:
              command: buildAndPush
              repository: $(backendImageName)
              dockerfile: $(backendPath)/Dockerfile
              containerRegistry: $(dockerRegistryServiceConnection)
              tags: |
                $(tag)

  - stage: Deploy
    displayName: Deploy stage
    dependsOn: Build

    jobs:
      - deployment: Deploy
        displayName: Deploy Frontend
        environment: Test
        strategy:
          runOnce:
            deploy:
              steps:
                - checkout: infrasRepo
                - task: KubernetesManifest@0
                  displayName: Create imagePullSecret
                  inputs:
                    action: createSecret
                    secretName: $(imagePullSecret)
                    dockerRegistryEndpoint: $(dockerRegistryServiceConnection)

                - task: KubernetesManifest@0
                  displayName: Deploy to Kubernetes cluster
                  inputs:
                    action: deploy
                    manifests: |
                      $(Build.SourcesDirectory)/manifests/frontend.yaml
                      $(Build.SourcesDirectory)/manifests/backend.yaml
                      $(Build.SourcesDirectory)/manifests/mongodb.yaml
                      $(Build.SourcesDirectory)/manifests/ingress.yml
                    imagePullSecrets: |
                      $(imagePullSecret)
                    containers: |
                      $(containerRegistryUri)/$(frontendImageName):$(tag)
                      $(containerRegistryUri)/$(backendImageName):$(tag)
